.audioPlayer {
  --primary: #f40082;
  --secondary: #ffd200;

  align-items: center;
  /* display: flex; */
  width: 700px;
}

.forwardBackward { 
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}

.forwardBackward:hover {
  color: var(--primary);
}
/* .button-bar {
  display: flex;
  border: 2px solid #fff;
  max-width: 230px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
} */

.playPause {
  background: transparent;
  border: none;
  border-radius: 50%;
  /* width: 75px;
  height: 75px; */
  font-size: 22px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items:center;
}

.play {
  position: relative;
  left: 5px;
  font-size: 18px;
}

.pause {
  position: relative;
  left: 5px;
  font-size: 18px;
}


.currentTime,
.duration {
  font-family: monospace;
  font-size: 20px;
}

.currentTime {
  margin-left: 5px;
}

.progressBar {
  --bar-bg: #e47a4100;
  --seek-before-width: 0;
  --seek-before-color: #25e14a00;
  --knobby: #7000FF;
  --selectedKnobby: #26c9c400;
  appearance: none;
  background: #fff;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 2px;
  outline: none;
}

.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-range-track {
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}


.progressBar::before {
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 2px;
  border-radius: 0%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -5px 0 0 0;
  z-index: 999;
  box-sizing: border-box;
}


.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

.progressBar::-moz-range-thumb {
  height: 20px;
  width: 2px;
  border-radius: 0%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 999;
  box-sizing: border-box;
}


.progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

